gunicorn
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
Werkzeug==1.0.1
Flask
flask-cors
matplotlib
plotly
openai
scipy
pandas
scikit-learn
PyPDF2
supabase
python-dotenv
stripe
arxiv
pytesseract